* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  height: 100vh;
}

/* Avoid Chrome to see Safari hack*/
@supports (-webkit-touch-callout: none) {
  body {
    /* The hack fot Safari */
    height: -webkit-fill-available;
  }
}

a {
  color: inherit;
  text-decoration: none;
}


